<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="my.example.fivetenkgame"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <application
        android:name="com.uc.fivetenkgame.application.GameApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen" 
       >
        <activity
            android:name="com.uc.fivetenkgame.GameMainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.uc.fivetenkgame.WaitingGameActivity"
            android:label="@string/waiting_str"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Holo.Dialog" >
        </activity>
        <activity
            android:name="com.uc.fivetenkgame.GameViewActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            >
        </activity>
        <activity
            android:name="com.uc.fivetenkgame.InputServerIPActivity"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Holo.Dialog" >
        </activity>
        <activity
            android:name="com.uc.fivetenkgame.GameSettingActivity"
            android:screenOrientation="landscape"
          >
        </activity>
        <activity
            android:name="com.uc.fivetenkgame.GameHelpActivity"
            android:screenOrientation="landscape"
            >
        </activity>
        <activity
            android:name="com.google.zxing.qr_codescan.MipcaActivityCapture"
            android:label="@string/scan_qrcode_str"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.DarkActionBar" >
        </activity>
    </application>

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

</manifest>